/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.item {
    display: grid;
    grid-template-columns: 65% 30%;
    margin: 2rem auto 1rem auto;
}
.item img{
    max-height: 10rem;
    
}
.header {
    display: grid;
    grid-template-columns: 90% 10%;
}
button{
    margin: 2rem auto 1rem 40%;
    display: inline;
}
footer {
    display: grid;
    grid-template-columns: 30% 30%;
}
